asgiref==3.7.2
dj-database-url==2.1.0
dj-static==0.0.6
Django==5.0.1
django-bootstrap3==23.6
gunicorn==21.2.0
packaging==23.2
pytz==2024.1
sqlparse==0.4.4
static3==0.7.0
typing_extensions==4.9.0
psycopg2>=2.6.1

# Uncomment these lines to use a Postgres database. Both are needed, since in production
# (which uses Linux) we want to install from source, so that security updates from the
# underlying Heroku stack image are picked up automatically, thanks to dynamic linking.
# On other platforms/in development, the precompiled binary package is used instead, to
# speed up installation and avoid errors from missing libraries/headers.
psycopg[c]; sys_platform == "linux"
psycopg[binary]; sys_platform != "linux"